<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body class="bg-warning">
    <h1>Products</h1>
    <img src="/images/black-and-white-1282260_960_720.jpg" width="500" alt="black">
    <p><%= products[0].id %></p>
    <p><%= products[0].name %></p>
    <p><%= products[0].price %></p>

    <ul>
      <% products.forEach(products => { %> <% if (products.price >= 40000 &&
      products.isActive ) { %> <% } %>
      <li>
        <a href="/products/<%= products.id %>">
          <%= products.name %> - <%= products.price %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
