<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Products</h1>
    <p><%= products[0].id %></p>
    <p><%= products[0].name %></p>
    <p><%= products[0].price %></p>

    <ul>
        <% products.forEach(products => { %>
          <% if (products.price >= 40000 && products.isActive ) { %>
           
          <% } %>
         <li>
            <%= products.name %> - <%= products.price %>  
         </li>
        <% }) %>
        
    </ul>
  </body>
</html>
